/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
!.gitignore
.bashrc
.cache
.cagefs
.caldav
.cl.selector
.clwpos
.config
.cpanel
.git
.gitconfig
.htpasswds
.htaccess
.gitignore
.lastlogin
.local
.pearrc
.sitepad
.softaculous
.spamassassin
.spamassassinboxenable
.spamassassinenable
.ssh
.trash
.viminfo
README.md
access-logs
bin
mail
php
public_ftp
repositories
ssl
vendor
www

